@import '../app.component.scss';

$viewport: min(100vw, 1440px);

$header-height: 80px;
$padding-top-bottom: 37px;

header {
    position: fixed;
    left: calc((100vw - $viewport) / 2);
    right: calc((100vw - $viewport) / 2);
    top: 0;
    height: $header-height;
    z-index: 4;
    padding: $padding-top-bottom $distance-100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(32.5px);

    @media(max-width: 900px) {
        width: calc($viewport - (2 *  $distance-25));
        padding: $padding-top-bottom $distance-25;
    }
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 29px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    line-height: 120%;
    z-index: 3;
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
}

@media (max-width: 920px) {
    .no-transparency-mobile {
        background-color: #141D2F;
    }
}