<header class="no-transparency-mobile">
    <img routerLink="/" class="img-logo" src="assets/img/logo-MG.png">

    <div class="header-links hide-mobile">
        <a routerLink="/" (click)="scroll('about-me')">Über mich</a>
        <a routerLink="/" (click)="scroll('skills')">Skills</a>
        <a routerLink="/" (click)="scroll('portfolio')">Portfolio</a>
    </div>

    <div class="hide-desktop">
        <img class="hamburger" src="assets/img/burger-menu.svg" (click)="burgerMenuChange()"> 
        <!--  -->
    </div>
</header>

<app-hamburger-menu *ngIf="showVar"></app-hamburger-menu>
