$header-height: 80px;

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $header-height;
    z-index: 1;
    padding: 37px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    backdrop-filter: blur(32.5px);
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 29px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    line-height: 120%;
    cursor: pointer;
}