header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 1;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141D2F;

    img {
        display: flex;
        align-items: center;
        height: 100px;
    }
}

.header-links {
    
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 23px;
    font-style: normal;
    line-height: 120%;
    /* 27.6px */
}