<div class="content">
    <div class="blur-wrap">
        <div class="wrap2">
            <img src="assets/img/blur_background/contact-blue.svg">
        </div>
    </div>

    <div class="wrap">
        <div class="left-part">
            <img class="img-logo" src="assets/img/logo-MG.png">
            <div class="impressum hide-mobile" routerLink="/imprint">Impressum</div>
        </div>
        <div class="middle-part">&copy; Markus Gede 2024</div>
        <div class="right-part">
            <app-contact-options></app-contact-options>            
        </div>
        <div class="impressum hide-desktop" routerLink="/imprint">Impressum</div>
    </div>
</div>