<div id="about-me" class="content">
    <div class="am-section">
        <div class="headline-text">About me</div>
        <div class="am-content">
            <div class="">
                Hi, I am a Front-end developer based in Neuwied, Germany (...)
            </div>
            <div *ngFor="let c of [0,1]" class="am-content-thingsToShare">
                <div><img src={{images[c]}}></div>
                <div class="normal-white-text">
                    {{amContent[c]}}
                </div>
            </div>
        </div>
    </div>

    <div class="picture-section">
        <img src="../../assets/img/markus.png">
        <img class="markus_background" src="../../assets/img/blur_background/markus_background.svg">            
    </div>
</div>

<div style="position: relative;">
    <div class="gray-under-markus">
        <img src="../../assets/img/markus_gray_beneath.svg">
    </div>
</div>
