@import '../app.component.scss';

.content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: $distance-100;

    @media(max-width: 900px) {
        flex-direction: column-reverse;
        margin-left: $distance-25;
    }
}

.am-section {
    max-width: 470px;

    @media(max-width: 900px) {
        margin-top: -150px;
        z-index: 2;
    }
}

.am-content {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 35px;
}

.am-content-thingsToShare {
    display: flex;
    gap: 35px;
}

.picture-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 990px;
    height: 500px;
    // height: 700px;
    z-index: -1;
    // background-color: yellow;
    // overflow: hidden;

    @media(max-width: 900px) {
        width: 100vw;
        left: -$distance-25;
    }

    img {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        max-height: 100%;
        z-index: -1;
    }

    .markus_background {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        max-height: 100%;
        z-index: -2;
    }
}

.gray-under-markus-wrapper {
    position: relative;
    // background-color: yellow;
    height: 100px;

    // z-index: 1;
    @media(max-width: 900px) {
        z-index: 1;
    }
}

.gray-under-markus {
    position: absolute;
    left: 0;
    top: -200px;
    width: 100vw;
    height: 740px;
    overflow: hidden;
    z-index: -1;

    @media(max-width: 900px) {
        left: -$distance-25;
    }


    img {
        position: absolute;
        width: 100%;
    }
}