<div id="about-me" class="content">
    <div class="am-section">
        <div class="headline-text">Über mich</div>
        <div class="am-content">
            <div class="">
                Hallo, ich bin Frontend-Entwickler und wohne in Neuwied, Deutschland. Ich habe bereits Erfahrung in verschiedenen Programmiersprachen sammeln können, wie Python und C#, gesammelt. Mittlerweile habe ich mich aber auf den Frontend-Bereich spezialisiert. Es macht mir Spaß, visuelle Elemente und Programmiertechniken zu kombinieren.
            </div>
            <div *ngFor="let c of [0,1]" class="am-content-thingsToShare">
                <div><img src={{images[c]}}></div>
                <div class="normal-white-text">
                    {{amContent[c]}}
                </div>
            </div>
        </div>
    </div>

    <div class="gray-under-markus-wrapper hide-desktop">
        <div class="gray-under-markus">
            <img src="assets/img/markus_gray_beneath.svg">
        </div>
    </div>

    <div class="picture-section">
        <img src="assets/img/markus.png">
        <img class="markus_background" src="assets/img/blur_background/markus_background.svg">
    </div>
</div>

<div class="gray-under-markus-wrapper hide-mobile">
    <div class="gray-under-markus">
        <img src="assets/img/markus_gray_beneath.svg">
    </div>
</div>