<div class="content">
    <div class="title-and-Iam">
        <div class="iam">I am</div>
        <div class="title">
            <div class="title-name">
                Markus Gede
            </div>
            <div class="title-frontend-developer">
                FRONTEND DEVELOPER
            </div>
        </div>
    </div>
    <div class="around-blue-btn">
        <div class="blue-btn">Let's talk!</div>
    </div>
    <div class="atf-bottom">
        <div class="contact-options">
            <div class="blue-line"></div>
            <div *ngFor="let i of [0,1,2]" class="contact-option"><img src={{images[i]}}></div>
        </div>
        <div class="scroll-down-area">
            <div class="text-scroll-down">Scroll down</div>
            <div class="arrow-down"><img src="../assets/img/arrow-down-line.svg"></div>
        </div>
    </div>
    <app-blur-background></app-blur-background>
</div>