<div id="atf" class="content">
    <div class="title-and-Iam">
        <div class="iam">I am</div>
        <div class="title">
            <div class="title-name">
                Markus Gede
            </div>
            <div class="title-frontend-developer">
                FRONTEND DEVELOPER
            </div>
        </div>
    </div>
    <div (click)="scroll('contact')" class="around-btn">
        <div class="blue-btn">Let's talk</div>
    </div>

    <div class="atf-bottom">
        <div class="line-and-options">
            <div class="wrap-line">
                <div class="blue-line"></div>
            </div>
            <app-contact-options></app-contact-options>
        </div>
        <div class="scroll-down-area">
            <div class="text-scroll-down">Scroll down</div>
            <div class="arrow-down"><img src="../assets/img/arrow-down-line.svg"></div>
        </div>
    </div>
    <div class="blur-wrap">
        <div class="wrap2">
            <img src="../../assets/img/blur_background/purple_shadow.svg">
            <div class="push-between"></div>
            <img src="../../assets/img/blur_background/green_shadow.svg">
        </div>
    </div>
</div>