<div id="atf" class="content">
    <div class="title-and-Iam">
        <div class="iam">I am</div>
        <div class="title">
            <div class="title-name">
                Markus Gede
            </div>
            <div class="title-frontend-developer">
                FRONTEND DEVELOPER
            </div>
        </div>
    </div>
    <div (click)="scroll('contact')" class="blue-btn">Let's talk!</div>
    <div class="atf-bottom">
        <div class="line-and-options">
            <div class="wrap-line">
                <div class="blue-line"></div>
            </div>
            <app-contact-options></app-contact-options>
        </div>
        <div class="scroll-down-area">
            <div class="text-scroll-down">Scroll down</div>
            <div class="arrow-down"><img src="../assets/img/arrow-down-line.svg"></div>
        </div>
    </div>
    <app-blur-background></app-blur-background>
</div>