<div class="form-area" (submit)="sendMail()" #myForm>
  <div class="field-wrap">
    <input [(ngModel)]="inputName" required class="input-normal" type="text" placeholder="Ihr Name" id="nf" #nameField
      [ngClass]="{'border-green': inputName !== ''}">
    <img *ngIf="inputName !== ''" src="assets/img/form/fieldFilled.svg">
    <img *ngIf="missingName && inputName == ''" src="assets/img/form/fieldNotFilled.svg">
    <div *ngIf="missingName" class="missing-information">Bitte Ihren Namen eintragen</div>
  </div>
  <div class="field-wrap">
    <input [(ngModel)]="inputMaildaddress" required class="input-normal" type="email" placeholder="Ihre E-Mail-Adresse"
      name="email" id="ef" [ngClass]="{'border-green': containsValidEmailPattern(inputMaildaddress)}">
    <img *ngIf="containsValidEmailPattern(inputMaildaddress)" src="assets/img/form/fieldFilled.svg">
    <img *ngIf="containsValidEmailPattern(inputMaildaddress) == false && sendButtonClicked"
      src="assets/img/form/fieldNotFilled.svg">
    <div *ngIf="containsValidEmailPattern(inputMaildaddress) == false && sendButtonClicked" class="missing-information">Bitte Ihre E-Mail-Adresse eintragen</div>
  </div>
  <div class="field-wrap">
    <textarea [(ngModel)]="inputMessage" required placeholder="Ihre Nachricht" name="messageInput" id="mf"
      [ngClass]="{'border-green': containsValidEmailPattern(inputMessage)}"
      (keyup.enter)="sendToFirebase(inputName,inputMaildaddress,inputMessage)" #messageField></textarea>
    <img *ngIf="inputMessage !== ''" src="assets/img/form/fieldFilled.svg">
    <img *ngIf="missingMessage && inputMessage == ''" src="assets/img/form/fieldNotFilled.svg">
    <div *ngIf="missingMessage" class="missing-information">Bitte Ihre Nachricht eintragen</div>
  </div>
  <div class="check-send-area">
    <div class="read-area">
      <div (click)="changeCheckbox()" class="check-text">
        <div>
          <img *ngIf="isChecked" src="assets/img/form/checked_box.svg">
          <img *ngIf="!isChecked" src="assets/img/form/check_box.svg">
        </div>
        <div class="read-text-wrap">
          <div class="read-text">Ich habe die &nbsp;<a style="color: #4B47FF;" routerLink="/data-protection">
              Datenschutzrichtlinien</a>&nbsp; gelesen und bin mit der beschriebenen Verarbeitung meiner Daten
            einverstanden.</div>
          <div class="missing-checked-information-text" *ngIf="showCheckMessage">Bitte akzeptieren Sie die Datenschutzrichtlinien.</div>
        </div>
      </div>
    </div>
    <div class="gray-btn-wrap">
      <div type="submit" class="gray-btn"
        [ngClass]="{'gray-btn-blue': isChecked && inputName !== '' && inputMaildaddress !== '' && inputMessage !== ''}"
        (click)="sendToFirebase(inputName,inputMaildaddress,inputMessage)" #sendButton>Send
        message :)</div> <!-- routerLink="/success-mail" -->
    </div>
  </div>
</div>



<!-- <form >
  <label>
    Your email:
    <input type="email" name="Nachricht">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <button type="submit">Send</button>
</form> -->