@import '../app.component.scss';
$viewport: 100vw;

.form-area {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: $distance-100;
    color: white;
    width: 100%;

    @media(max-width: 900px) {
        // align-items: center;
        padding-left: $distance-25;
        padding-right: $distance-25;
        box-sizing: border-box;
        // margin-left: $distance-25;
        width: 100%;
        align-items: center;
        justify-content: center;
    }


    .input-normal,
    textarea {
        padding: 15px 25px 15px 25px;
        border: 1px solid #4B47FF;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #141D2F;
        width: calc($viewport/2 - $distance-100);
        color: white;
        font-family: 'Poppins';
        resize: none;
        overflow-y: hidden;
        transition: all 300ms ease-out;

        @media(max-width: 900px) {
            width: 100%;
        }
    }
}

.input-normal:hover,
textarea:hover {
    border: 1px solid #1CE6B6 !important;
    // outline: none !important;
}

.input-normal::placeholder {
    color: white;
}

.border-red {
    border: 1px solid #E61C40 !important;
}

.border-green {
    border: 1px solid #70E61C !important;
}

textarea::placeholder {
    color: white;
}

.check-send-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    // background-color: yellow;
    width: calc($viewport/2 - $distance-100);

    @media(max-width: 900px) {
        align-items: center;
        gap: 32px;
        width: 100%;
    }

}

.read-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .check-text {
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    .read-text-wrap {
        display: flex;
        flex-direction: column;
        height: 54px;
        gap: 8px;

        .read-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;

            a {
                text-decoration: none;
            }
        }

        .missing-checked-information-text{
            color: #E61C40 !important;
        }
    }


}

.gray-btn-wrap {
    height: 50px;
    width: 250px;
}

.gray-btn {
    display: inline-flex;
    padding: 15px 30px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 10px;
    background-color: #B6B6B6;
    cursor: pointer;
}

.gray-btn-blue {
    background-color: #00BEE8 !important;
}

.field-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
    gap: 10px;

    img {
        position: absolute;
        left: calc($viewport/2 - $distance-100 - 50px);
        top: 12px;
        height: 25px;

        @media(max-width: 900px) {
            left: calc($viewport/2 - $distance-25);
            left: calc(100% - $distance-25 - 25px);
        }

    }
}

.missing-information {
    font-size: 14px;
    color: #E61C40;
}