@import '../app.component.scss';


.content {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.emptySpace {
    flex: 1;
}

.headline-text {
    margin: $left-right-distance;
    padding-left: 36px;
    padding-right: 36px;
}

.blue-line {
    @extend .base-line-right;
    flex: 1;
    background-color: #00BEE8;
}

.green-line {
    @extend .base-line-left;
    background-color: #1CE6B6;
    width: 80%;
}

.smaller-headline {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white
}

.go-up-arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: $left-right-distance;
    margin-bottom: $left-right-distance;
}


