@import '../app.component.scss';


@media(max-width: 900px) {
    app-contact-form {
        width: 100%;
    }
}


.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}


.emptySpace {
    flex: 1;
}

.headline-text {
    margin: $distance-100;
    padding-left: 36px;
    padding-right: 36px;

    @media(max-width: 900px) {
        margin: $distance-25;
    }
}

.blue-line {
    @extend .base-line-right;
    flex: 1;
    background-color: #00BEE8;
}

.green-line {
    @extend .base-line-left;
    background-color: #1CE6B6;
    width: 80%;
}

.smaller-headline {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white
}

.go-up-arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: $distance-100;
    margin-bottom: $distance-100;

    img {
        cursor: pointer;

        &:hover {
            filter: url(#blue-filter);
        }
    }

    @media(max-width: 900px) {
        margin-right: $distance-25;
        margin-bottom: $distance-25;
    }

    @media(max-width: 400px) {
        margin-top: $distance-25;
    }
}

@media(max-width: 900px) {
    .grid-container {
        max-width: 100%;
    }
}