.contact-options {
    display: flex;
    align-items: center;
    gap: 42px;
    flex-shrink: 0;
}

.contact-option {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
    

    img {
        transition: 100ms ease-in-out;
        &:hover {
            transform: scale(1.5);
        }
    }
}