<div id="skills" class="content">
    <div class="languages-area">
        <div *ngFor="let col of [0,1,2,3]">
            <div *ngIf="col==0"  class="language-column">
                <div *ngFor="let row of [0,1,2,3]" class="oneLanguage-area">
                    <img class="language-logo" src={{logos[row]}}>
                    <div class="language-name">{{logos_name[row]}}</div>
                </div>
            </div>
            <div *ngIf="col==1" class="language-column">
                <div *ngFor="let row of [4,5,6]" class="oneLanguage-area">
                    <img class="language-logo" src={{logos[row]}}>
                    <div class="language-name">{{logos_name[row]}}</div>s
                </div>
            </div>
            <div *ngIf="col==2" class="language-column">
                <div *ngFor="let row of [7,8]" class="oneLanguage-area">
                    <img class="language-logo" src={{logos[row]}}>
                    <div class="language-name">{{logos_name[row]}}</div>
                </div>
            </div>
            <div *ngIf="col==3" class="language-column">
                <div *ngFor="let row of [10]" class="oneLanguage-area">
                    <img class="language-logo" src={{logos[row]}}>
                    <div class="language-name">{{logos_name[row]}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-text-area">
        <div class="headline-text-line">
            <div class="headline-text">Skills</div>
            <div class="green-line"></div>            
        </div>
        
        <div class="normal-white-text">I have gained experience in building projects with various front end technologies and concepts.</div>
        
        <div class="around-skill-btn">
            <div class="blue-btn">Get in touch</div>
        </div>
    </div>
</div>