@import '../app.component.scss';

$grid-gap: 12px;
$viewport: 100vw;

.content {
    margin-top: 100px;
    position: relative;
}

.purple-line {
    @extend .base-line-left;
    background-color: #4B47FF;
    width: 80%;
}

.headline-text-line-portfolio {
    display: flex;
    align-items: center;
}

.grid-wrap {
    display: flex;
    justify-content: center;
    $box-width: calc($viewport/2 - $distance-100 - $grid-gap);

    @media(max-width: 900px) {
        $box-width: calc($viewport/2 - $distance-25 - $grid-gap);
    }

    .portfolio-projects {
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: $box-width $box-width;
    }
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #00BEE8, $alpha: 1.0);
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 1/1;
}

.blur-wrap {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    overflow: hidden;

    .wrap2 {
        position: relative;
        right: 0;
        display: flex;
        justify-content: center;

        img {
            height: 800px;
        }
    }
}

.blur-wrap-second {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: -1;
    overflow: hidden;

    .wrap2 {
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;

        img {
            height: 800px;
        }
    }
}

@media(max-width: 920px) {
    .portfolio-projects {
        display: block !important;
        width: 100%;
        margin-left: $distance-25;
        margin-right: $distance-25;
    }

    .outer-box {
        margin-top: 25px
    }
}