@import '../app.component.scss';

$purpleLineWidth: 50px;
$margin-left: 100px;

.content{
    margin-top: 100px;
}

.purple-line {
    @extend .base-line-left;
    width: $purpleLineWidth;
    background-color: #4B47FF;
}

.headline-text-line-portfolio{
    display: flex;
    align-items: center;
}

.headline-text{
    margin-left: calc($margin-left - $purpleLineWidth);
}

.defined-position{
    margin-left: $margin-left;
    max-width: 470px;
    margin-top: 35px;
}