@import '../app.component.scss';

$grid-gap: 12px;
$viewport: 100vw;

.content {
    margin-top: 100px;
}

.purple-line {
    @extend .base-line-left;
    background-color: #4B47FF;
    width: 80%;
}

.headline-text-line-portfolio {
    display: flex;
    align-items: center;    
}

.grid-wrap{
    display: flex;
    justify-content: center;
    $box-width: calc($viewport/2 - $left-right-distance - $grid-gap);

    .portfolio-projects {
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: $box-width $box-width;
    }
}

.outer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #00BEE8, $alpha: 1.0);
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 1/1;
}