<div id="portfolio" class="content">

    <div class="grid-container">
        <div style="display: flex; align-items: center;">
            <div class="purple-line"></div>
        </div>
        <div class="headline-text">Portfolio</div>
        <div class="emptySpace"></div>
        <div class="normal-white-text">This page is a sample of my work! scroll down to view other projects I have
            develped.</div>
    </div>

    <div class="grid-wrap">
        <div class="portfolio-projects">
            <app-portfolio-project class="outer-box" *ngFor="let c of [0,1,2,3]"
                [projectIndex]="c" (mouseover)="setHovered()" (mouseleave)="setUnhovered()"></app-portfolio-project>
        </div>
    </div>

    <div class="blur-wrap">
        <div class="wrap2">
            <img src="../../assets/img/blur_background/blue-blur.svg">            
        </div>
    </div>

    <div class="blur-wrap-second">
        <div class="wrap2">
            <img src="../../assets/img/blur_background/blue-portfolio.svg">            
        </div>
    </div>
</div>