$distance-100: 100px;
$distance-25: 25px;

.wrap-line{
    width: $distance-100;
}

.base-line-right {
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.base-line-left {
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.headline-text-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: $distance-100 1fr;
    grid-row-gap: 36px;
    max-width: 500px;
    margin-bottom: 100px;

    @media(max-width: 900px){
        grid-template-columns: $distance-25 1fr;
    }
}