$left-right-distance: 100px;

.wrap-line{
    width: $left-right-distance;
}

.base-line-right {
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.base-line-left {
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.headline-text-line {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: $left-right-distance 1fr;
    grid-row-gap: 36px;
    max-width: 500px;
    margin-bottom: 100px;
}

@media (max-width: 900px){
    $left-right-distance: 25px !important;
}