.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    color: white;
    font-family: 'Poppins';

    @media(max-width: 900px) {
        margin-left: 25px;
        margin-right: 25px;
    }
}