@import '../header/header.component.scss';
$viewport: min(100vw, 1440px);

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414856;
    position: fixed;
    width: $viewport;
    height: calc(100vh - ($header-height + (2 * $padding-top-bottom)));
    top: calc($header-height + (2 * $padding-top-bottom));
    left: 0;
    // background-color:brown;
    z-index: 10000;
      

    .link-list{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        
        a{
            color: white;
            font-size: 24px;
            text-decoration: none;
        }
    }
}