// html, body { height: 100%; }

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #141D2F;
    font-family: 'Poppins';
}

.headline-text {
    color: white;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
}

.normal-white-text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.around-skill-btn {
    height: 80px;
    width: 200px;
}

.blue-btn {
    display: inline-block;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 10px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.5);
        transform-origin: left top;
    }

}

.img-logo {
    display: flex;
    align-items: center;
    width: 150px;
    flex-shrink: 0;
}