html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    
    
    
}

body {
    margin: 0;
    background-color: #141D2F;;
    font-family: 'Poppins';
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-y: scroll;
    max-width: 1440px;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background-color: transparent; /* Farbe des Scrollbalken-Tracks */
}




.headline-text {
    color: white;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;

    @media (max-width: 900px) {
        font-size: 45px;
    }
}

.normal-white-text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.around-btn {
    height: 80px;
    width: 200px;
    z-index: 1;
}

.blue-btn {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 10px;
    background: #00BEE8;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 100ms ease-in-out;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        height: 40px;
        width: 180px;
        background-color: #4B47FF;
    }

}

.img-logo {
    display: flex;
    align-items: center;
    width: 150px;
    flex-shrink: 0;
    cursor: pointer;
}


// General reponsiveness

@media (max-width: 900px) {
    .hide-mobile {
        display: none !important;
    }
}

// statt 720px
@media (min-width: 900px) {
    .hide-desktop {
        display: none !important;
    }
}